/* Import Exo font */
@import url('https://fonts.googleapis.com/css?family=Exo:100');

/* Keyframe Animations */
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}

@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}

/* Background Styling */
body {
  color: #999;
  font: 400 16px 'Exo', 'Ubuntu', 'Segoe UI', Helvetica, Arial, sans-serif;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
  animation: bg-scrolling-reverse 0.92s linear infinite;
}

body::before {
  font-size: 8rem;
  font-weight: 100;
  font-style: normal;
}


.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #999;
}

.about {
  padding-top: 280px;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 80px;
  color: black;
}

.about-me {
  margin-top: 6px;
  font-size: 40px;
  font-weight: bold;
}

.introduction {
  display: flex;
  flex-direction: column;
  padding-top: 400px;
  float: right;
}

.introduction h2 {
  font-size: 90px;
  text-align: right;
  background-color: lightsalmon;
  border-radius: 10px;
  font-weight: bold;
}

.introduction h4 {
  font-size: 40px;
  text-align: right;
  font-weight: bold;
}

.resume{
  height: 50px;
  width: 120px;
  background-color:#3c85f9;
  padding: 5px 5px;
  font-size: 20px;
  border-radius: 5px;
}

.Skills {
  padding-top: 400px;
  padding-left: 100px;
  padding-right: 100px;
  color: black;
}

.Skills h2 {
  font-size: 80px;
  font-weight: bold;
  background-color: lightseagreen;
  border-radius: 10px;
}

.heading {
  text-align: center;
}

.Skills h3 {
  font-size: 40px;
  padding-top: 30px;
  position: relative;
  display: inline-block;
  margin: 0 auto;
  font-weight: bold;
}

.Skills h3::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.5px;
  width: 100%;
  height: 1px;
  background-color: black;
}

.project {
  padding-top: 400px;
  padding-left: 100px;
  padding-right: 100px;
  color: black;
}

.project h2 {
  font-size: 80px;
  text-align: right;
  font-weight: bold;
  background-color: rgb(244, 185, 75);
  border-radius: 10px;
}
.pro{
  padding-top: 50px;
}

.contact {
  padding-top: 400px;
  padding-left: 100px;
  padding-right: 100px;
  color: black;

}

.contact h2 {
  font-size: 80px;
  text-align: center;
  font-weight: bold;
  background-color: rgb(243, 243, 107);
  border-radius: 10px;
}

.Social {
  padding-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.foot {
  padding-top: 100px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.footer{
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 15px 0;
  background: #8d8b8b;
}

.name {
  display: flex;
  font-size: 80px;
  flex-wrap: wrap;
}

.name p {
  margin: 0;
  white-space: nowrap;
}


/* ✅ Responsive styles */
@media (max-width: 1024px) {
  .about, .Skills, .project, .contact{
    padding-left: 70px;
    padding-right: 70px;
  }

  .about {
    font-size: 60px;
  }

  .about-me {
    font-size: 30px;
  }

  .introduction h2 {
    font-size: 70px;
  }

  .introduction h4 {
    font-size: 30px;
  }

  .Skills h2,
  .project h2 {
    font-size: 60px;
  }

  .Skills h3 {
    font-size: 30px;
  }

  .name {
    font-size: 60px;
  }
}

@media (max-width: 768px) {
  .about {
    padding-top: 200px;
    font-size: 40px;
    
  }

  .about-me {
    font-size: 22px;
  }

  .introduction {
    padding-top: 200px;
    float: none;

  }

  .introduction h2 {
    font-size: 40px;
    text-align: left;
    text-align: right;
  }

  .introduction h4 {
    font-size: 22px;
    text-align: left;
  }

   .Skills h2{
    font-size: 40px;
  }

  .project h2 {
    font-size: 40px;
    text-align: right;
  }

  .Skills h3 {
    font-size: 22px;
  }

  .name {
    font-size: 40px;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 480px) {
  
  .about {
    padding-top: 200px;
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .about-me {
    font-size: 18px;
  }

  .introduction{
    padding-top: 200px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .introduction h2 {
    font-size: 30px;
  }

  .introduction h4 {
    font-size: 18px;
    text-align: right;
  }

  .Skills,
  .contact,
  .project{
    padding-top: 200px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .pro{
  padding-top: 30px;
}

  .contact h2,
  .Skills h2,
  .project h2 {
    font-size: 30px;
  }

  .Skills h3 {
    font-size: 18px;
  }

  .name {
    font-size: 30px;
  }

  .resume{
  height: 25px;
  width: 80px;
  background-color:#3c85f9;
  padding: 2px 2px;
  font-size: 15px;
  border-radius: 3px;
}
}




