.card2 {
    width: 100%;
    max-width: 2450px;
    height: 600px;
    border-radius: 8px;
    background:rgb(245, 205, 205);
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 0.5rem;
  }

  .card2-section {
    flex: 1;
    overflow: hidden;
    cursor: pointer;
    border-radius: 6px;
    transition: all 0.5s ease;
    background: rgb(246, 222, 222);
    border: 2px solid rgb(241, 228, 228);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0.5rem;
  }

  .card2-section:hover {
    flex: 5;
    background: #f8b1ae;
  }

  .summary span {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #e31111;
    transition: all 0.5s ease;
  }

  .card2-section:hover .summary span {
    writing-mode: horizontal-tb;
    transform: rotate(0deg);
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }

  .details {
    opacity: 0;
    text-align: center;
    color: #fff;
    transition: opacity 0.5s ease;
    max-height: 0;
    overflow: hidden;
    width: 100%;
  }

  .card2-section:hover .details {
    opacity: 1;
    max-height: 1000px;
  }

  .details img {
    width: 100%;
    max-height: 80%;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 0.5rem;
    border: 2px solid #333;
  }

  .desc {
    font-weight: bold;
    font-size: 1rem;
    color: #000000;
    margin: 0.4rem 0;
  }

  .tech{
    font-weight: bold;
    font-size: 0.8rem;
    color: #000000;
    margin: 0.4rem 0;
  }

 
  .details a {
    display: inline-block;
    margin-top: 0.3rem;
    
    font-weight: bold;
    text-decoration: none;
  }


